
$bg : rgb(210,210,180);
$green : rgb(180,210,140);

@mixin animation-duration($t){
  -moz-animation-duration: $t;
  -webkit-animation-duration: $t;
  -moz-animation-duration: $t;
}

@mixin animation-delay($t){
  -moz-animation-delay: $t;
  -webkit-animation-delay: $t;
  -moz-animation-delay: $t;
}
@mixin transform($property: none) {
  transform: $property;
  -moz-transform: $property;
  -webkit-transform: $property;
  -o-transform: $property;
}

@mixin animation($name, $duration, $delay: 0s, $fill-mode: forwards){
  -moz-animation-name: $name; 
  -webkit-animation-name: $name; 
  -webkit-animation-fill-mode: $fill-mode;
  -moz-animation-fill-mode: $fill-mode;
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration; 
  -webkit-animation-duration: $duration; 
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@include keyframes(grow){
  from {
    top: 15em;
  }
  to {
    top: 1em;
    opacity: 1
  }
}

@include keyframes(turn-right){
  from {
    @include transform(rotateY(-140deg));
  }
  to {
    @include transform(rotateY(0deg));
  }
}
@include keyframes(turn-left){
  from {
    @include transform(rotateY(140deg));
  }
  to {
    @include transform(rotateY(0deg));
  }
}

@mixin config($w, $top, $background, $border-color, $border-width, $leaves){
  height: $w;
  width: $w;
  opacity: 0;
  margin-top: $top;
  background-color: $background;
  border-radius: $w * 5;
  border: $border-width solid $border-color;
  box-shadow: 0 0 0 .2em darken($border-color, 4), 0 0 0 .2em lighten($background, 4) inset;
  
  span {
    top: $w + $border-width + .2em;
    left: $w / 2.3;
    
    @if $leaves == 0 {
      &:before {display: none;}
      &:after {display: none;}
    }
    @if $leaves == 1 {
      &:before {display: block;}
      &:after {display: none;}
    }
    @if $leaves == 2 {
      &:before {display: block;}
      &:after {display: block;}
    }
  }
}

.weather-background.spring {
  background: rgb(210,210,180);

   &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2em;
    background: darken($bg, 6);
  }

  .flower {
    @include animation(grow, 2s);
    top: 1em;
    position: absolute;
    z-index: 10;
    span {
      background: $green;
      width: .5em;
      z-index: 5;
      height: 50em;
      display: block;
      position: absolute;
  
      &:after {
      content: '';
        -moz-transform-origin: left;
        -webkit-transform-origin: left; 
        width: 3em;
        height: 3em;
        display: block;
        background: darken($green, 5);
        border-radius: 2em 0em 2em 0em;
        box-shadow: 0 0 0 .2em darken($green, 8) inset;
        z-index: 0;
        top: 1em;
        left: .5em;
        position: absolute;
      }

      &:before {
        -moz-transform-origin: right;
        -webkit-transform-origin: right; 
        content: '';
        width: 3em;
        height: 3em;
        display: block;
        background: darken($green, 7);
        border-radius: 0em 2em 0em 2em;
        box-shadow: 0 0 0 .2em darken($green, 8) inset;
        z-index: 0;
        position: absolute;
        left: -3em;
        top: 5em;
      }
    }
  }

  @for $i from 0 through 10 {
    .flower-#{$i} {
      @include animation-delay(random(10) * .1s);
      left: 1em + (10em * $i);
      @include config(random(5) * 1em, 40em, #F3F875, #F8C475, random(5) * 0.3em, random(3) - 1);
    }
  }
}